<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="금융을커피처럼 - 재테크, 경제스터디">
        <meta name="author" content="금융을커피처럼">
        <link rel="canonical" href="https://www.financewithcoffee.kr"/>
        <meta property="og:url" content="https://www.financewithcoffee.kr">
        <meta property="og:image" content="https://www.financewithcoffee.kr/images/fill-me-with-finance-pc.png">
        <meta property="og:title" content="금융을커피처럼">
        <meta property="og:description" content="금융을커피처럼 - 재테크, 경제스터디">

        <!-- 네이버 검색 Meta -->
        <meta name="naver-site-verification" content="4a467c65789093ade268ece2045f4358d2dde07e" />
        <!-- 구글 검색 Meta -->
        <meta name="google-site-verification" content="w2g0j8mI5mNTSLteZ8jhmsnW2QtEim8Q_tD6soEch88" />

        <title>금융을커피처럼</title>


        <!-- config fragment 사용 -->
        <th:block th:replace="config/config :: configFragment" ></th:block>
    </head>

    <body>
        <!-- header fragment 사용 -->
        <th:block th:replace="fragments/header :: headerFragment"></th:block>

        <!--
            content fragment 사용
            현재 layout을 사용하는 content fragment의 내용을 삽입한다.
        -->
        <th:block layout:fragment="content"></th:block>

        <!-- custom javascript -->
        <th:block layout:fragment="script"></th:block>

        <!-- footer fragment 사용 -->
        <th:block th:replace="fragments/footer :: footerFragment"> </th:block>
    </body>

</html>