<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" >
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="/images/favicon.ico" type="/images/favicon.ico">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="티끌미끌-함께하는 금융수다">
    <meta property="og:description" content="처음이기에 헷갈리는 돈 이야기, 지금 바로 시작해요" />
    <meta property="og:image" content="/images/img_thumnail_main.png">
    <!-- <meta property="og:image" content="img/image_thumnail.png"> -->

    <title>티끌미끌-금융성향분석</title>

    <!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>

</th:block>
</html>