<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/detail_class">
      
		<div layout:fragment="content">

			<!-- first section -->
			<section id="pagesection1" class="realestate_detail_first_section">

				<th:block th:replace="fragments/header :: headerFragment"></th:block>
				
				<div class="side_align_container_detail">
					
					<div class="row">


						<div id="realestate_detail_first_main_text" class="col-lg-4 col-md-12 col-xs-12">
						부동산 실전<br>
						투자(기초)

						</div>
					</div>
				
				
					<div class="row">
						<div id="realestate_detail_first_sub_text" class="col-lg-3 col-md-12 col-xs-12">
							할 꺼면 제대로,<br>
							어떻게 사고 언제 사야할까					
						</div>

					</div>
					<div id="realestate_detail_first_price">
						월 40,000원
					</div>

					<div id="realestate_detail_first_center_main_text" class="side_align_container_fifth">
						<hr id="hr_inline4">
							  레버리지 투자의 끝.판.왕<br>
							  내 꿈은 내 집 마련
						<hr id="hr_inline4">
					</div>
				
					<div id="realestate_detail_first_center_sub_text" class="side_align_container_fifth">
						"저금리 시대, 최대의 레버리지로 최대의 수익을 노린다"<br>
						"치솟는 집값, 언제까지 보고만 있을 수는 없다"
					</div>
					
					<div id="realestate_detail_first_center_sub2_text" class="realestate_detail_little_text">
						나만의 기준과 철학으로 부동산 시장에 대해서 공부하자
					</div>
					
						
					<div class="realestate_detail_little_text col-lg-3 col-md-3 col-xs-12">
						기본적인 부동산에 대한 개념은 있지만, 더욱 심화된 학습에 모가르시진 않으신가요? 
					</div>
					
					<div class="realestate_detail_little_text col-lg-3 col-md-3 col-xs-12">
						 마용성, 똘똘한 한 채, 결국엔 강남 등 기사로 많은 소식을 접합니다. 그러나 이러한 소식에 대해 다양한 의견을 듣고 토론하여 더욱 좋은 입지를 찾아봅시다.
					</div>
					
					<div class="realestate_detail_little_text col-lg-3 col-md-3 col-xs-12">
						티끌미끌 [부동산 실전 투자]의 기초 편에서는 내 집 마련하기 방법과 이에 드는 다양한 비용과 세금에 대해 심층적으로 탐구하고 고민해보는 시간을 갖습니다.
					</div>
					
					<div class="realestate_detail_little_text col-lg-3 col-md-3 col-xs-12">
						 기본적인 용어나 개념에 대해 다루지 않고 있음에 유의하시기 바랍니다.
					</div>
					
				</div>
				
				
			</section>
		
			
			
			<!-- second section -->
			<section id="pagesection6">
				
				<div id="realestate_detail_second_title">
					첫 모임에서 우리는 
				</div>
				
				<hr id="hr_inline4" style="width:50px;">
				
				<div class="row" style="margin:45px 0px;">
					
				
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
					<div id="realestate_detail_second_content" class="col-lg-3 col-md-3 col-xs-12">
						<div class="detail_middle_content">
							 
						
							어떤 투자 방법으로 어느 지역에 투자할 지에 대해서 각자의 입장과 의견을 듣고 방향을 결정할 것입니다.<br><br>

		갭투자를 선호할 수도, 경매나 재개발 등 다양한 매매 방법 별로 나뉘어서 이야기하고 토론합니다.<br><br>

		또한, 내가 현재 최대로 레버리지를 일으킬 수 있는 비중과 비율을 알아보고 이에 적절한 투자처와 입지를 함께 찾아봅니다.
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-xs-12" style="text-align:center;">
						<img id="realestate_detail_mikkle" style="height:400px;" src="/images/img_mikkle_detail.png"> 
					</div>
					
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
				</div>
				
				<div class="row" style="margin: 30px 0px; text-align:center;">
				
					<div id="realestate_detail_middle_box" >

						<div class="col-lg-3 col-md-12 col-xs-12" id="realestate_detail_middle_title">
							<div>
								 첫 모임의 주제에<br>대해서 생각해봐요
							</div>
							<div>
								<img id="realestate_detail_mikkle2" style="height:90px;" src="/images/img_mikkle_qna.png"> 	
							</div>
							
						</div>

						<div class="col-lg-9 col-md-12 col-xs-12 remove_padding_ico" id="realestate_detail_middle_content">
							<div class="middle_content_common_parent">
							
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										나에게 가장 맞는 매매 방법을 고민해봐요. (매매,갭투자,경매 등) 	
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										최대 레버리지 투자 가능 금액을 확인하고 적용시켜봐요.
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										선호하는 지역과 입지를 이야기하고, 이유를 논의해요.
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										지금까지 해보았던 부동산 투자 방법과 스킬에 대해 공유해요. (성공과 실패담)
									</div>
								</div>
							</div>
						</div>

					</div>			
				</div>
				
				
				
				<hr id="hr_inline5" style="width:50px;">
				<div style="text-align:center; margin-top:30px;">
					<img class="ico_realestate_main" style="height:60px;" src="/images/ico_realestate_main.svg"> 		 
				</div>
				
				
				<div id="realestate_detail_third_title">
					앞으로 이렇게<br>부동산 투자 공부해요
				</div>
				
				<div class="side_align_container_detail_first">
					
					<div class="row">
						

						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="realestate_detail_third_common">
								<img class="ico_number1_detail" style="height:20px;" src="/images/ico_number1_detail.png"> 		
							</div>

							<div class="realestate_detail_third_content realestate_detail_third_common">
								 단가 조사부터 임장까지
							</div>
							<div class="realestate_detail_third_sub_content realestate_detail_third_common">
								주요 투자처를 고르고 해당 지역에 대한 조사와 임장을 함께해요. 다양한 지표와 데이터 그리고 임장까지, 혼자하기에는 너무 많은 수고로움! 친숙한 사람들과 함께 준비해요.
							</div>
						</div>


					<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="realestate_detail_third_common">
								<img class="ico_number2_detail" style="height:20px;" src="/images/ico_number2_detail.png"> 
							</div>

							<div class="realestate_detail_third_content realestate_detail_third_common">
								 부동산 세금
							</div>
							<div class="realestate_detail_third_sub_content realestate_detail_third_common">	
								부동산 투자에서 가장 무시할 수 없는 것이 바로 세금! 무시했다가는 몇 천만원부터 몇 억대로 손해 볼 수 있기에 지금부터 준비하고 공부해요.
							</div>
						</div>


						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;" >
								<div class="realestate_detail_third_common">
									<img class="ico_number3_detail" style="height:20px;" src="/images/ico_number3_detail.png"> 
								</div>
							<div class="realestate_detail_third_content realestate_detail_third_common">
								 부동산 규제
							</div>
							<div class="realestate_detail_third_sub_content realestate_detail_third_common">

								부동산은 정책과 공급, 수요에 큰 영향을 받는 투자 자산입니다. 정권 별 주요 정책과 현 정부의 규제 때마다의 시장 반응과 가격 추이에 대해 조사하고 토론해요.
							</div>
						</div>
					</div>
					
					<div class="row">
						

						<div id="realestate_detail_third_caution">
							*정해진 주제와 내용은 임의로 선정된 것이며, <br>
							스터디원의 협의를 통해 다양하고 풍성한 자료로 수정 및 변경될 수 있습니다.
						</div>	
					</div>

					
					<hr id="hr_inline6" style="width:100%;">

					<div class="row">
						<div class="col-lg-5 col-md-12 col-xs-12">
							<div id="img_study_detail">
								<div>이 스터디는<br>이런 분들에게 좋아요! </div>
							</div>	
						</div>

						<div class="col-lg-7 col-md-12 col-xs-12" id="realestate_detail_middle_content">
							<div class="middle_content_common_parent">
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										부동산 공부를 시작해보고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										부동산 투자를 하기 위해서 많은 씨드(투자금)이 필요하다고 생각하시는 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										앞으로 혼자 공부하는 것이 아니라, 함께 꾸준히 하고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										우후죽순이 아닌 체계적으로 부동산 공부하고 싶으신 분
									</div>
								</div>
								
							</div>
						</div>	
					</div>

					<hr id="hr_inline6" style="width:100;">
				</div>
			</section>
			
			<div id="realestate_detail_gray_zone" >
				<div class="row">
					
					<div class="col-lg-2 col-md-12 col-xs-12" id="realestate_detail_gray_zone_head">
						FAQ
					</div>
					
					
					<div class="col-lg-10 col-md-12 col-xs-12" id="realestate_detail_gray_zone_tail">
						자주 질문하는 내용은 FAQ페이지를 참고해주세요.<br>
사회적 거리두기 관련 운영방침에 따라 비대면, 대면 여부가 결정되며 방역수칙을 철저히 지키며 진행됩니다.<br>
거리두기 단계에 따른 모임 불가는 전액 환불 처리 가능합니다.
					</div>
					
				</div>
				
			</div>
			
			<!-- third section -->
			<section id="pagesection5">
				<div class="row">
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="realestate_detail_last_common_box">
							<div id="realestate_detail_last_ico1">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_realestate_main.svg"> 
							</div>
							
							<div id="realestate_detail_last_main_text">
								비용
							</div>
							
							<div id="realestate_detail_last_sub_text">
								멤버십 3개월 (6회)<br>
								230,000원 (월 40,000원)
							</div>

						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="realestate_detail_last_common_box">
							<div id="realestate_detail_last_ico2">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_realestate_main.svg"> 
							</div>
							
							<div id="realestate_detail_last_main_text">
								모임 인원
							</div>
							
							<div id="realestate_detail_last_sub_text">
								최소 인원 3명, 최대 인원 6명<br>
								(코로나 단계에 따라 최대 4명)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="realestate_detail_last_common_box">
							<div id="realestate_detail_last_ico3">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_realestate_main.svg"> 
							</div>
							
							<div id="realestate_detail_last_main_text">
								마스크 필수
							</div>
							
							<div id="realestate_detail_last_sub_text">
								모든 오프라인 모임은 마스크를 필수로 
								착용하고 진행됩니다. (비대면으
								로 진행될 시 ZOOM 으로 진행)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="realestate_detail_last_common_box">
							<div id="realestate_detail_last_ico4">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_realestate_main.svg"> 
							</div>
							
							<div id="realestate_detail_last_main_text">
								멤버십 혜택
							</div>
							
							<div id="realestate_detail_last_sub_text">
								멤버십 가입한 스터디원에게는 각종 
								이벤트에 무료 또는 특별가로 참여할  
								수 있으며, 스터디원만을 위한 비공개 
								이벤트에도 초대됩니다.
							</div>
						</div>
					</div>
				</div>
				
			</section>
			
			
			<div id="realestate_detail_apply">
				<div id="realestate_detail_apply_main" onclick="window.open('https://forms.gle/Lgeh2e4q9fcMWvJ67');">
					지금 바로 경제 근육 스터디 신청하기
				</div>
			</div>
			
			<!-- tail section -->
			<section id="pagesection_tail">

			</section>
			
		</div>