<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/detail_class">
      
		<div layout:fragment="content">

			<!-- first section -->
			<section id="pagesection1" class="study_basic_detail_first_section">

				<th:block th:replace="fragments/detail_header :: headerFragment"></th:block>
				
				<div class="side_align_container_detail">
					
					<div class="row">


						<div id="detail_first_main_text" class="col-lg-4 col-md-12 col-xs-12">
						주식의 기본<br>
						(초급)

						</div>
					</div>
				
				
					<div class="row">
						<div id="detail_first_sub_text" class="col-lg-3 col-md-12 col-xs-12">
						처음 시작하는데 <br>
						무작정 시작할 수는 없으니깐
						</div>

					</div>
					<div id="detail_first_price">
						월 40,000원
					</div>

					<div id="detail_first_center_main_text" class="side_align_container_fifth">
						<hr id="hr_inline4">
							  "나만 아직도 주린이 인가"<br>
							  "모를수록 용감하다!"
						<hr id="hr_inline4">
					</div>
				
					<div id="detail_first_center_sub_text" class="side_align_container_fifth">
						하루만에 10% 수익났어요!<br>
						이렇게 매일 사고 팔기만 하는게 주식이죠?
					</div>
					
					<div id="detail_first_center_sub2_text" class="detail_little_text" style="text-align:center;">
						단순 매도 매수만 하는게 정답은 아니니까 
					</div>
					
					<hr id="hr_inlin3_1" style="width:50px;">
						
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						많은 사람들이 주식의 원리나 기본에 대해서 공부하지 않고 매수와 매도를 시작합니다.
						이러한 경우 초심자의 행운처럼 수익을 보기 마련이죠.   
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						 하지만, 기틀이 없는 지식과 방법은 결국 무너지기 마련입니다.
						 주식을 특정 기간만 한다고 하면 상관 없었겠지만, 평생해야 하는 것이 재테크이기에 차근히 시작해봐요.
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						[주식의 기본]은 주식을 체계적으로 학습을 시작하고자 하는 주린이분들에게 적합한 스터디입니다.
						느낌과 육각으로 왠지 오를 것 같아서 사고 떨어질 것 같아서 팔고 있지는 않나요? 
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						 다양한 시각과 학습 방법으로 공부하다 보면 나만의 철학과 기준이 생기는 나를 금방 찾아볼 수 있을 거예요.
					</div>
					
				</div>
				
				
			</section>
		
			
			
			<div id="detail_apply">
				<div id="detail_row" class="row">
					<div id="detail_apply_info" class="col-lg-2 col-md-5 col-xs-5">
						월 40,000 원	
					</div>

					<div id="detail_apply_main_pc" class="col-lg-4 col-md-0 col-xs-0 detail_apply_main" onclick="window.open('https://forms.gle/1HrfgJ2FdvUsaJE88');">
						지금 바로 경제 근육 스터디 신청하기
					</div>
					<div id="detail_apply_main_mb" class="col-lg-0 col-md-6 col-xs-6 detail_apply_main" onclick="window.open('https://forms.gle/1HrfgJ2FdvUsaJE88');">
						스터디 신청하기
					</div>
				</div>
			</div>
			
			
			
			
			<!-- second section -->
			<section id="pagesection6">
				
				<div id="detail_second_title">
					첫 모임에서 우리는 
				</div>
				
				<hr id="hr_inline4" style="width:50px;">
				
				<div class="row" style="margin:45px 0px;">
					
				
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
					<div id="detail_second_content" class="col-lg-3 col-md-3 col-xs-12">
						<div class="detail_middle_content">
						
							주식이 무엇인지에 대해서 공부할 것이예요.
							주식이라고 하면 빨갛고 파란 차트부터 생각나나요? <br><br>
							
							하지만 주식의 차트는 정말 적은 부분에 해당되요.
							주식으로 돈을 버는 방법이 무엇일까요? 
							내가 산 가격보다 다른 사람이 더 비싸게 사준다? 
							맞아요. 하지만 다른 방법도 많이 있어요! <br><br>
							
							주식에 대해서 공부하다 보면
							사람들이 간과하고 있는 주식의 주요한 부분들을 깨달을 수 있을 것 이예요.
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-xs-12" style="text-align:center;">
						<img id="detail_mikkle" src="/images/img_mikkle_detail.png"> 
					</div>
					
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
				</div>
				
				<div class="row" style="margin: 30px 0px; text-align:center;">
				
					<div id="detail_middle_box" >

						<div class="col-lg-3 col-md-12 col-xs-12" id="detail_middle_title">
							<div>
								 첫 모임의 주제에<br>대해서 생각해봐요
							</div>
							<div>
								<img id="detail_mikkle2" style="height:90px;" src="/images/img_mikkle_qna.png"> 	
							</div>
							
						</div>

						<div class="col-lg-9 col-md-12 col-xs-12 remove_padding_ico" id="detail_middle_content">
							<div class="middle_content_common_parent">
							
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										차트는 어떻게 읽을까요? 양봉 음봉은 알겠는데, 이평선은 또 뭐죠? 	
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										주식 시장의 3대 주체. 개인, 외인, 기관은 누구이며 어떻게 수급이 측정되는 것 일까요?
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										주식시장은 몇 시부터 시작되고 끝나나요? 누구는 장 마감하고도 샀다는데 그건 어떻게 하는 건가요? 
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										저같은 소액주주도 주주총회 참여할 수 있나요?
									</div>
								</div>
							</div>
						</div>

					</div>			
				</div>
				
				
				
				<hr id="hr_inline5" style="width:50px;">
				<div style="text-align:center; margin-top:30px;">
					<img class="ico_realestate_main" style="height:60px;" src="/images/ico_chart_main.svg"> 		 
				</div>
				
				
				<div id="detail_third_title">
					앞으로 이렇게<br>주식 투자 공부해요
				</div>
				
				<div class="side_align_container_detail_first">
					
					<div class="row">
						

						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="detail_third_common">
								<img class="ico_number1_detail" style="height:30px;" src="/images/ico_number1_detail.webp"> 		
							</div>

							<div class="detail_third_content detail_third_common">
								 보통주 VS 우선주
							</div>
							<div class="detail_third_sub_content detail_third_common">
								삼성전자 주식을 사려고 보니 보통주와 우선주가 둘다 있어요. 더 싼 우선주를 사야하나요? 정확한 개념과 의미에 대해서 공부하고 투자해요!
							</div>
						</div>


					<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="detail_third_common">
								<img class="ico_number2_detail" style="height:30px;" src="/images/ico_number2_detail.webp"> 
							</div>

							<div class="detail_third_content detail_third_common">
								 주식시장별 특징
							</div>
							<div class="detail_third_sub_content detail_third_common">	
								KOSPI, KOSDAQ, KONEX, K-OTC 다 비슷한 것 같은데 제가 아는 회사는 KOSPI에 있어요. 아는 회사 투자할 것 이니깐 다른 곳은 몰라도 될까요? 시장 별 특징을 공부해요.
							</div>
						</div>


						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;" >
								<div class="detail_third_common">
									<img class="ico_number3_detail" style="height:30px;" src="/images/ico_number3_detail.webp"> 
								</div>
							<div class="detail_third_content detail_third_common">
								 펀드와 주식의 차이
							</div>
							<div class="detail_third_sub_content detail_third_common">

								주변에서 주식은 위험하니 펀드부터 하라고 추천을 많이 해줬어요. 그런데 펀드도 너무 다양하고 비슷한 용어도 있는 것 같은데 정확한 차이와 개념이 궁금해요
							</div>
						</div>
					</div>
					
					<div class="row">
						

						<div id="detail_third_caution">
							*정해진 주제와 내용은 임의로 선정된 것이며, <br>
							스터디원의 협의를 통해 다양하고 풍성한 자료로 수정 및 변경될 수 있습니다.
						</div>	
					</div>

					
					<hr id="hr_inline6" style="width:100%;">

					<div class="row">
						<div class="col-lg-5 col-md-12 col-xs-12">
							<div id="img_study_detail">
								<div>이 스터디는<br>이런 분들에게 좋아요! </div>
							</div>	
						</div>

						<div class="col-lg-7 col-md-12 col-xs-12" id="detail_middle_content">
							<div class="middle_content_common_parent">
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										주식 시작을 체계적이고 차근히 공부하고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										어려운 경제 공부를 함께 시작하고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										모르는 내용에 대해서 손쉽게 질문하고 답을 알고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										느낌과 감이 아닌 학습에 의한 투자를 하고 싶으신 분
									</div>
								</div>
								
							</div>
						</div>	
					</div>

					<hr id="hr_inline6" style="width:100;">
				</div>
			</section>
			
			<div id="detail_gray_zone" >
				<div class="row">
					
					<div class="col-lg-2 col-md-12 col-xs-12" id="detail_gray_zone_head">
						FAQ
					</div>
					
					
					<div class="col-lg-10 col-md-12 col-xs-12" id="detail_gray_zone_tail">
						자주 질문하는 내용은 FAQ페이지를 참고해주세요.<br>
사회적 거리두기 관련 운영방침에 따라 비대면, 대면 여부가 결정되며 방역수칙을 철저히 지키며 진행됩니다.<br>
거리두기 단계에 따른 모임 불가는 전액 환불 처리 가능합니다.
					</div>
					
				</div>
				
			</div>
			
			<!-- third section -->
			<section id="pagesection5">
				<div class="row">
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico1">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_money_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								비용
							</div>
							
							<div id="detail_last_sub_text">
								멤버십 3개월 (6회)<br>
								230,000원 (월 40,000원)
							</div>

						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico2">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_group_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								모임 인원
							</div>
							
							<div id="detail_last_sub_text">
								최소 인원 3명, 최대 인원 6명<br>
								(코로나 단계에 따라 최대 4명)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico3">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_mask_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								마스크 필수
							</div>
							
							<div id="detail_last_sub_text">
								모든 오프라인 모임은 마스크를 필수로 
								착용하고 진행됩니다. (비대면으
								로 진행될 시 ZOOM 으로 진행)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico4">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_membership_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								멤버십 혜택
							</div>
							
							<div id="detail_last_sub_text">
								멤버십 가입한 스터디원에게는 각종 
								이벤트에 무료 또는 특별가로 참여할  
								수 있으며, 스터디원만을 위한 비공개 
								이벤트에도 초대됩니다.
							</div>
						</div>
					</div>
				</div>
				
			</section>
			
			<script type="text/javascript" src="../js/detail_class.js"> </script>
			
			
		</div>
</html>