<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/detail_class">
      
		<div layout:fragment="content">

			<!-- first section -->
			<section id="pagesection1" class="study_prac_detail_first_section">

				<th:block th:replace="fragments/detail_header :: headerFragment"></th:block>
				
				<div class="side_align_container_detail">
					
					<div class="row">


						<div id="detail_first_main_text" class="col-lg-4 col-md-12 col-xs-12">
						주식 실전 투자<br>
						(중급)

						</div>
					</div>
				
				
					<div class="row">
						<div id="detail_first_sub_text" class="col-lg-3 col-md-12 col-xs-12">
						아직도 소문에 팔고<br>
						뉴스에 사고 있는가
						</div>

					</div>
					<div id="detail_first_price">
						월 40,000원
					</div>

					<div id="detail_first_center_main_text" class="side_align_container_fifth">
						<hr id="hr_inline4">
							  진정 지금 제대로<br>투자하고 있다고 생각하는가
						<hr id="hr_inline4">
					</div>
				
					<div id="detail_first_center_sub_text" class="side_align_container_fifth">
						"재무제표를 보지 않고 투자하는 것은"<br>
						"눈 감고 걸어다니는 것과 같죠"
					</div>
					
					<div id="detail_first_center_sub2_text" class="detail_little_text" style="text-align:center;">
						나만의 주관과 데이터 분석 능력으로<br>
						건강한 투자 습관을 만들자
					</div>
					
					<hr id="hr_inlin3_1" style="width:50px;">
						
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						주식 거래한 지는 꽤 되었지만 아직도 뉴스와 소문에 거래하고 있지는 않으신가요?
						계속해서 물타다가 현금이 부족해본 경험이 있으신가요?
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						 느낌과 육감으로는 건강한 투자 방법이 아닌거 아니깐 제대로된 방법을 함께 공부해요.
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						[주식의 기본과 개념]은 주식을 체계적으로 학습을 시작하고자 하는 주린이분들에게 적합한 스터디입니다.
					</div>
					
					<div class="detail_little_text col-lg-3 col-md-3 col-xs-12">
						 다양한 시각과 학습 방법으로 공부하다 보면 나만의 철학과 기준이 생기는 나를 금방 찾아볼 수 있을 거예요.
					</div>
					
				</div>
				
				
			</section>
		
			
			
			<div id="detail_apply">
				<div id="detail_row" class="row">
					<div id="detail_apply_info" class="col-lg-2 col-md-5 col-xs-5">
						월 40,000 원	
					</div>

					<div id="detail_apply_main_pc" class="col-lg-4 col-md-0 col-xs-0 detail_apply_main" onclick="window.open('https://forms.gle/1HrfgJ2FdvUsaJE88');">
						지금 바로 경제 근육 스터디 신청하기
					</div>
					<div id="detail_apply_main_mb" class="col-lg-0 col-md-6 col-xs-6 detail_apply_main" onclick="window.open('https://forms.gle/1HrfgJ2FdvUsaJE88');">
						스터디 신청하기
					</div>
				</div>
			</div>
			
			
			
			
			<!-- second section -->
			<section id="pagesection6">
				
				<div id="detail_second_title">
					첫 모임에서 우리는 
				</div>
				
				<hr id="hr_inline4" style="width:50px;">
				
				<div class="row" style="margin:45px 0px;">
					
				
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
					<div id="detail_second_content" class="col-lg-3 col-md-3 col-xs-12">
						<div class="detail_middle_content">
						
							주식의 기본을 정리하고 넘어갈 꺼에요.
							모두 주식에 대한 기본 개념은 있지만
							한 번이라도 개념이나 기본기에 대해 
							꼼꼼히 따져본 적 있나요?<br><br>
							
							여러 전문가들의 탑다운, 바텀업 방식에
							대한 의견을 듣고 나만의 투자 스타일에 대해
							서로 공유해봐요.<br><br>
							
							나와 비슷한 사람들과 함께 대화 나누다보면
							어느새 나의 실력과 견해가 넓어지는 것을 느낄 수 있을 것이예요.
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-xs-12" style="text-align:center;">
						<img id="detail_mikkle" src="/images/img_mikkle_detail.png"> 
					</div>
					
					<div class="col-lg-3 col-md-3 col-xs-12">
					</div>
					
				</div>
				
				<div class="row" style="margin: 30px 0px; text-align:center;">
				
					<div id="detail_middle_box" >

						<div class="col-lg-3 col-md-12 col-xs-12" id="detail_middle_title">
							<div>
								 첫 모임의 주제에<br>대해서 생각해봐요
							</div>
							<div>
								<img id="detail_mikkle2" style="height:90px;" src="/images/img_mikkle_qna.png"> 	
							</div>
							
						</div>

						<div class="col-lg-9 col-md-12 col-xs-12 remove_padding_ico" id="detail_middle_content">
							<div class="middle_content_common_parent">
							
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										나는 어떤 투자 스타일을 갖고 있을까요? 스켈핑? 단타? 중단타?  	
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										주식 시장의 3대 주체. 개인, 외인, 기관은 누구이며 어떻게 수급이 측정되는 것 일까요?
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										재무제표에 대해서 꼼꼼히 분석해본 적 있나요? A-Z 까지 천천히 함께 분석해봐요.  
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img class="ico_check_detail" style="height:20px;" src="/images/ico_check_detail.png"> 		 
									</div>
									<div class="col-xs-11 col-sm-11 remove_padding_mb">
										투자 매매 일지를 작성해 본적 있나요?<br>들어갈 때와 나올 때 마음이 다르지 않게 다짐해요. 
									</div>
								</div>
							</div>
						</div>

					</div>			
				</div>
				
				
				
				<hr id="hr_inline5" style="width:50px;">
				<div style="text-align:center; margin-top:30px;">
					<img class="ico_realestate_main" style="height:60px;" src="/images/ico_chart_main.svg"> 		 
				</div>
				
				
				<div id="detail_third_title">
					앞으로 이렇게<br>실전 투자 공부해요
				</div>
				
				<div class="side_align_container_detail_first">
					
					<div class="row">
						

						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="detail_third_common">
								<img class="ico_number1_detail" style="height:30px;" src="/images/ico_number1_detail.webp"> 		
							</div>

							<div class="detail_third_content detail_third_common">
								 섹터 분석
							</div>
							<div class="detail_third_sub_content detail_third_common">
								섹터를 구분 지어서 함께 공부하고 발표해봐요. 자료와 정보가 쌓이다보면 실력이 느는 것을 느낄 수 있어요.
							</div>
						</div>


					<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;">
							<div class="detail_third_common">
								<img class="ico_number2_detail" style="height:30px;" src="/images/ico_number2_detail.webp"> 
							</div>

							<div class="detail_third_content detail_third_common">
								 대체 투자
							</div>
							<div class="detail_third_sub_content detail_third_common">	
								원자재, 금, 은, 비트코인에 투자해본 적 있나요? 다양한 투자 대상이 있고 이에 따른 리스크가 달라요. 해당 지표를 분석하는 방법을 공부해봐요.
							</div>
						</div>


						<div class="col-lg-4 col-md-12 col-xs-12" style="margin-top:40px;" >
								<div class="detail_third_common">
									<img class="ico_number3_detail" style="height:30px;" src="/images/ico_number3_detail.webp"> 
								</div>
							<div class="detail_third_content detail_third_common">
								 ETF 투자 
							</div>
							<div class="detail_third_sub_content detail_third_common">
								ETF, ETN 투자 해본 적 있나요? 특정 기업 분석에 부담이 있다면 지수에 투자하는 방법을 공부해봐요.
							</div>
						</div>
					</div>
					
					<div class="row">
						

						<div id="detail_third_caution">
							*정해진 주제와 내용은 임의로 선정된 것이며, <br>
							스터디원의 협의를 통해 다양하고 풍성한 자료로 수정 및 변경될 수 있습니다.
						</div>	
					</div>

					
					<hr id="hr_inline6" style="width:100%;">

					<div class="row">
						<div class="col-lg-5 col-md-12 col-xs-12">
							<div id="img_study_detail">
								<div>이 스터디는<br>이런 분들에게 좋아요! </div>
							</div>	
						</div>

						<div class="col-lg-7 col-md-12 col-xs-12" id="detail_middle_content">
							<div class="middle_content_common_parent">
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										주식 실전 투자를 체계적이고 차근히 공부하고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										혼자 공부하기에는 양이 너무 방대하고 외로우신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										전문가와 함께 모르는 것에 대해 질문하며 학습하고 싶으신 분
									</div>
								</div>
								
								<div class="middle_content_common row">
									<div class="col-xs-1 col-sm-1 remove_padding_ico ico_check_detail">
										<img style="height:20px;" src="/images/ico_check_detail.png"> 	
									</div>	
									<div class="col-xs-11 col-sm-11 remove_padding">
										나만의 투자 방법이 아닌 다른 사람들의 다양한 의견을 듣고 싶으신 분
									</div>
								</div>
								
							</div>
						</div>	
					</div>

					<hr id="hr_inline6" style="width:100;">
				</div>
			</section>
			
			<div id="detail_gray_zone" >
				<div class="row">
					
					<div class="col-lg-2 col-md-12 col-xs-12" id="detail_gray_zone_head">
						FAQ
					</div>
					
					
					<div class="col-lg-10 col-md-12 col-xs-12" id="detail_gray_zone_tail">
						자주 질문하는 내용은 FAQ페이지를 참고해주세요.<br>
사회적 거리두기 관련 운영방침에 따라 비대면, 대면 여부가 결정되며 방역수칙을 철저히 지키며 진행됩니다.<br>
거리두기 단계에 따른 모임 불가는 전액 환불 처리 가능합니다.
					</div>
					
				</div>
				
			</div>
			
			<!-- third section -->
			<section id="pagesection5">
				<div class="row">
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico1">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_money_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								비용
							</div>
							
							<div id="detail_last_sub_text">
								멤버십 3개월 (6회)<br>
								230,000원 (월 40,000원)
							</div>

						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico2">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_group_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								모임 인원
							</div>
							
							<div id="detail_last_sub_text">
								최소 인원 3명, 최대 인원 6명<br>
								(코로나 단계에 따라 최대 4명)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico3">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_mask_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								마스크 필수
							</div>
							
							<div id="detail_last_sub_text">
								모든 오프라인 모임은 마스크를 필수로 
								착용하고 진행됩니다. (비대면으
								로 진행될 시 ZOOM 으로 진행)
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-3 col-md-12 col-xs-12">
						<div class="detail_last_common_box">
							<div id="detail_last_ico4">
								<img class="ico_realestate_main" style="height:60px;" src="/images/ico_membership_detail.svg"> 
							</div>
							
							<div id="detail_last_main_text">
								멤버십 혜택
							</div>
							
							<div id="detail_last_sub_text">
								멤버십 가입한 스터디원에게는 각종 
								이벤트에 무료 또는 특별가로 참여할  
								수 있으며, 스터디원만을 위한 비공개 
								이벤트에도 초대됩니다.
							</div>
						</div>
					</div>
				</div>
				
			</section>
			
			<script type="text/javascript" src="../js/detail_class.js"> </script>
			
			
		</div>
</html>