<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<div th:fragment="footerFragment">


    <script th:inline="javascript">
        $(document).ready(function() {

        });

        function alertWeAreReady() {
            alert('준비 중입니다.');
        }
    </script>

    </th:block>
    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto text-white">
                    <div id="footer-brand-logo"><span class="footer-brand-big-title">금융</span>을<span class="footer-brand-big-title">커피</span>처럼</div>
                    <div class="no-margin-bottom-p body-content-font">서울특별시 중구 남대문로 40</div>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto text-white">
                    <div class="body-content-font no-margin-bottom-p">이메일 : financelwithcoffee@gmail.com</div>
                    <div class="body-content-font">카카오톡 : financewithcoffee</div>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>