<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/page/home"><p id="navbar-brand-logo"><span class="navbar-brand-big-title">금융</span>을<span class="navbar-brand-big-title">커피</span>처럼</p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/page/about">소개</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">스터디 신청</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">성향 테스트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/page/FAQ">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</html>