<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div class="nav_wrap" th:fragment="headerFragment">
    <!-- Navigation-->
    <nav id="myhead_nav">
        <div class="side_align_container container-fluid ">

            <div id="index_main_home" class="col-lg-4 col-xs-12 nav_padding" onclick="location.href='/';">
                <img style="width:7rem;" src="/images/logo_1x.png">
                <span id="nav_head"> 티끌미끌 : 함께하는 금융수다 </span>
            </div>

            <div class="col-lg-4 col-xs-0 nav_padding">   </div>

            <hr class="side_align_container hr_head_mobile" id="hr_outline2">

            <div class="col-lg-4 col-xs-12 nav_padding">

                <div class="col-lg-3 col-xs-3 nav_content_detail_left">
                    <a class="navhead_content" th:href="@{/about}">소개</a>
                </div>

                <div class="col-lg-3 col-xs-3 nav_content_detail_left">
                    <a class="navhead_content" th:href="@{/}">스터디 신청</a>
                </div>

                <div class="col-lg-3 col-xs-3 nav_content_detail_right">
                    <a class="navhead_content" th:href="@{/interest_survey}">성향 분석</a>
                </div>

                <div class="col-lg-3 col-xs-3 nav_content_detail_right">
                    <a class="navhead_content" th:href="@{/FAQ}">FAQ</a>
                </div>
            </div>

            <hr class="side_align_container hr_head_pc" id="hr_outline2">

        </div>
    </nav>
</div>

</html>