@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

html,body {
    font-family: 'NanumSquareRound',sans-serif !important;
}

.navbar-brand .navbar-brand-big-title {
    font-size: 3rem;
}

#navbar-brand-logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}

.nav-item {
    font-size: 1.5rem;
}

.no-margin-bottom-p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    width: 75%;
}

.no-margin-bottom-p-footer {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    width: 75%;
}

.no-margin-bottom-p-email {
    margin-bottom: 0;
}

.header-brand-big-title {
    font-size: 3rem;
    font-weight: 700;
}

#header-brand-logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

img#main-header-img {
    display: block;
    width: 115vw;
    height: 40vh;
    object-fit: fill;
    position: relative;
    max-width: initial;
    margin-left: 0%;
}

#header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#regist-study-btn {
    background-color: #880033;
    font-size: 2rem;
}
.feature-title {
    font-size: 2rem;
}

.no-padding-left {
    padding-left: 0px;
}

div.col-12.col-md-6.no-padding.no-padding {
    padding: 0;
}

#together {
    width: 48%;
    max-width: 50%;
}

#glass {
    width: 50%;
    max-width: 50%;
}

#continue {
    width: 55%;
    max-width: 55%;
}

#financial-status-test {
    background-color: #ff9999;
}

#financial-knowledge-test {
    background-color: #880033;
}

.testimonials-title {
    font-size: 2.5rem;
}

.survey-title {
    font-size: 3rem;
}

.status {
    font-size: 4.5em;
}

.idea {
    font-size: 4.5rem;
}

.survey-button {
    cursor: pointer;
    color: #000000;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #000;
    border: none;
}

.footer-brand-big-title {
    font-size: 3rem;
    font-weight: 700;
}

#footer-brand-logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

header.masthead#about {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

#about-study {
    width: 95%;
}

.about-title {
    font-size: 1.75rem;
}

#about-content {
    font-weight: 500;
}

header.masthead#FAQ {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #880033;
}

a.FAQ-btn {
    border: solid;
    border-width: thin;
    border-color: #880033;
    border-radius: .25rem;
    margin: .5rem;
}

ul.FAQ-tab-container {
    margin: 2rem;
}

.tab-item {
    font-size: 1.5rem;
}

.tab-content {
    height: 35rem;
}

.QnA {
    border-bottom: solid;
    border-width: thin;
}

@media (min-width: 768px) {

    img#main-header-img {
        display: block;
        width: 100vw;
        height: 75vh;
        object-fit: cover;
        position: relative;
    }

    p.no-margin-bottom-p {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
    }

    #header-brand-logo {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3rem;
        font-weight: 700;
    }

    .feature-title {
        font-size: 3rem;
    }

    div.col-12.col-md-6.no-padding.no-padding {
        padding: 0;
        max-width: 100%;
    }

    .about-title {
        font-size: 2rem;
    }

    .testimonials-title {
        font-size: 3rem;
    }

    a.FAQ-btn {
        border: solid;
        border-width: thin;
        border-color: #880033;
        border-radius: .25rem;
        margin: 1.5rem;
    }

    ul.FAQ-tab-container {
        margin: 3rem;
    }

    .tab-item {
        font-size: 1.5rem;
    }

    .tab-content {
        padding-left: 7rem;
        padding-right: 7rem;
        height: 35rem;
    }

    .margin-top-1rem {
        margin-top: 1rem;
    }
}