<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">

    <!-- second section -->
    <section class="page-section" style="padding-bottom: 5rem;">

        <div id="introduce_main_character" class="side_align_container_introduce container-fluid ">
            <img style="width:60rem;" src="/images/introduce_main_character_pc.png" id="introduce_main_character_pc">
            <img style="width:35rem;" src="/images/introduce_main_character_mobile.png" id="introduce_main_character_mobile">
        </div>

        <div id="introduce_cetner_text_main">

            낯부끄러운 이야기가 <br> 똑부러진 이야기가 될 때까지

        </div>

        <hr id="hr_centerline">

        <div style="text-align:center; margin: 2rem 0;">
            <img style="max-width:6rem;" src="/images/ico_introduce_balance.png">
        </div>


        <div id="introduce_cetner_text_content">
            티끌미끌은 '금융 정보의 비대칭성'을 해결하고, <br id="jump_br">
            '금융 지식의 보편화'를 지향하며 서비스를 운영하고 있습니다
        </div>


        <div class="container-fluid"id="introduce_cetner_text_subcontent">

            <div class="col-lg-3 col-md-3 col-xs-12 text_subcontent_detail ">
                자산가들은 현명한 컨설턴트와 매일의 경제 시황에
                대해 이야기하고 은행 PB들에게 재무 포토폴리오를
                설계 받으며 뉴스보다 먼저 호재와 악재를
                듣고 의사결정을 하고 있습니다
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12 text_subcontent_detail">
                그에 비해 시작이 다르고, 가진 것이 부족한 개인
                투자자들은 모두 포기하고 손 놓고 있어야 할까요?
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12 text_subcontent_detail">
                나와 비슷한 수준의 사람들과 공통된 관심사를
                갖고 대화하며 소통하다 보면 자연스럽게 경제
                지식이 쌓이는 것을 느낄 수 있을 것 입니다
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12 text_subcontent_detail">
                어디에서도 경험해보지 못한 솔직한
                돈 이야기, 지금 바로 티끌미끌에서 시작해보세요
            </div>

        </div>

        <div style="text-align: center; margin:0 auto;">


            <img style="max-width:100rem;" src="/images/img_bottom_introduce_pc.png" id="img_bottom_introduce_pc">
            <img style="max-width:100%;" src="/images/img_bottom_introduce_mobile.png" id="img_bottom_introduce_mobile">

        </div>
    </section>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function alertWeAreReady() {
            alert('준비 중입니다.');
        }
    </script>
</th:block>

</html>
