<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="http://lipis.github.io/bootstrap-social/">
    <meta property="og:image" content="http://lipis.github.io/bootstrap-social/assets/img/bootstrap-social.png">

    <title>금융을 커피처럼</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">

    <!-- Custom fonts for this template -->
    <link href="bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="bootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- 나눔스퀘어 폰트 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/landing-page.min.css" rel="stylesheet">

    <!-- FLC CSS -->
    <link href="css/flc.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#"><p id="navbar-brand-logo"><span class="navbar-brand-big-title">금융</span>을<span class="navbar-brand-big-title">커피</span>처럼</p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">소개</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">스터디 신청</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="#">성향 테스트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <!--<div class="overlay"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <h1 class="mb-5">남들은 어떻게 해요?</h1>
                </div>
                <div class="col-xl-9 mb-5">
                    <p class="no-margin-bottom-p"><span style="font-size: 2rem; font-weight: 500;">나와 비슷한 사람들과 함께 지식을 공유하는 공간.</span></p>
                    <p class="no-margin-bottom-p"><span style="font-size: 2rem; font-weight: 500;">재테크 스터디 모임</span></p>
                    <p id="header-brand-logo"><span class="header-brand-big-title">금융</span>을<span class="header-brand-big-title">커피</span>처럼</p>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="col-12 col-md-3">
                    </div>
                    <div class="col-12 col-md-6 no-padding-left">
                        <button type="button" class="btn btn-block btn-lg text-white" id="regist-study-btn">스터디 신청하기</button>
                    </div>
                    <div class="col-12 col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons text-center">
        <div class="container">
            <h1>제태크 스터디</h1>
            <h1 class="mb-5">경제 근육을 함께 키워봐요</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="together" src="images/together.png" alt="">
                        <h3>나와 비슷한 사람들의<br>금융 생활은 어떨까?</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="glass" src="images/glass.png" alt="">
                        <h3>혼자 공부하면<br>꾸준히 하기 힘드니까</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="continue" src="images/continue.png" alt="">
                        <h3>순간이 아닌 지속적인<br>관심을 가져봐요</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center">
        <div class="container">
            <h1 class="mb-5">제태크 성향 테스트</h1>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <div id="financial-status-test">
                            <div class="p-3">
                                <h2 class="text-white mb-5 mt-3">현재 제태크 상태 확인</h2>
                                <h1 class="text-white display-1 align-middle mb-5">STATUS</h1>
                            </div>
                            <div>
                                <button type="button" class="survey-button text-right text-white">지금 바로 점검하기>></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <div id="financial-knowledge-test">
                            <div class="p-3">
                                <h2 class="text-white mb-5 mt-3">금융, 경제 지식 테스트</h2>
                                <h1 class="text-white display-1 align-middle mb-5">IDEA</h1>
                            </div>
                            <div>
                                <button type="button" class="survey-button text-right text-white">지금 바로 점검하기>></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p id="footer-brand-logo"><span class="footer-brand-big-title">금융</span>을<span class="footer-brand-big-title">커피</span>처럼</p>
                    <p class="lead no-margin-bottom-p">서울특별시 중구 남대문로 40</p>
                    <p class="lead small mb-4 mb-lg-0">&copy; FinanceLikeCoffee Website 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <p class="lead no-margin-bottom-p">이메일 : financelikecoffee@gmail.com</p>
                    <p class="lead">카카오톡 : financelikecoffee</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
