<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">

    <!-- Masthead -->
    <header class="masthead" id="FAQ">
        <!--<div class="overlay"></div>-->
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="FAQ-title mb-5">문의사항 있으신가요?</h2>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <p>이메일</p>
                            <p>FinanceLikeCoffee@gmail.com</p>
                        </div>
                        <div class="col-lg-6 text-center">
                            <p>카카오톡</p>
                            <p>@FinanceLikeCoffee</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </header>

    <!-- Image Showcases -->
    <section class="showcase mb-5">
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills mb-5 mx-auto FAQ-tab-container" id="pills-tab" role="tablist">
                    <li class="tab-item">
                        <a class="flex-sm-fill text-sm-center nav-link FAQ-btn active" id="pills-FAQ1-tab" data-toggle="pill" href="#pills-FAQ1" role="tab" aria-controls="pills-FAQ1" aria-selected="true">
                            신청방법
                        </a>
                    </li>
                    <li class="tab-item">
                        <a class="flex-sm-fill text-sm-center nav-link FAQ-btn" id="pills-FAQ2-tab" data-toggle="pill" href="#pills-FAQ2" role="tab" aria-controls="pills-FAQ2" aria-selected="false">
                            진행방식
                        </a>
                    </li>
                    <li class="tab-item">
                        <a class="flex-sm-fill text-sm-center nav-link FAQ-btn" id="pills-FAQ3-tab" data-toggle="pill" href="#pills-FAQ3" role="tab" aria-controls="pills-FAQ3" aria-selected="false">
                            스터디원 선정방식
                        </a>
                    </li>
                    <li class="tab-item">
                        <a class="flex-sm-fill text-sm-center nav-link FAQ-btn" id="pills-FAQ4-tab" data-toggle="pill" href="#pills-FAQ4" role="tab" aria-controls="pills-FAQ4" aria-selected="false">
                            결제/비용
                        </a>
                    </li>
                    <li class="tab-item">
                        <a class="flex-sm-fill text-sm-center nav-link FAQ-btn" id="pills-FAQ5-tab" data-toggle="pill" href="#pills-FAQ5" role="tab" aria-controls="pills-FAQ5" aria-selected="false">
                            환불정책
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="container">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-FAQ1" role="tabpanel" aria-labelledby="pills-FAQ1-tab">
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-FAQ2" role="tabpanel" aria-labelledby="pills-FAQ2-tab">
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-FAQ3" role="tabpanel" aria-labelledby="pills-FAQ3-tab">
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-FAQ4" role="tabpanel" aria-labelledby="pills-FAQ4-tab">
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-FAQ5" role="tabpanel" aria-labelledby="pills-FAQ5-tab">
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                            <div class="mb-5 QnA">
                                <p class="margin-top-1rem">Question : </p>
                                <p class="margin-top-1rem">Answer : </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</html>
