<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">

    <!-- Masthead -->
    <header class="masthead" id="main">
        <img class="img-fluid" id="main-header-img" src="/images/fill-me-with-finance.png" alt="">
        <div class="container" id="header-container">
            <div class="row">
                <div class="col-xl-9">
                    <h1 class="mb-3">남들은 어떻게 해요?</h1>
                </div>
                <div class="col-xl-9 mb-5">
                    <p class="no-margin-bottom-p">
                        나와 비슷한 사람들과 함께 지식을 공유하는 공간.
                    </p>
                    <p class="no-margin-bottom-p">재테크 스터디 모임.</p>
                    <p class="mt-3" id="header-brand-logo">금융을 커피처럼</p>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="col-12 col-md-3">
                    </div>
                    <div class="col-12 col-md-6 no-padding">
                        <button type="button" class="btn btn-block btn-lg text-white" id="regist-study-btn">스터디 신청하기</button>
                    </div>
                    <div class="col-12 col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons text-center">
        <div class="container">
            <h1 class="feature-title">제태크 스터디</h1>
            <h1 class="mb-5 feature-title">경제 근육을 함께 키워봐요</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="together" src="/images/together.png" alt="">
                        <h3>나와 비슷한 사람들의<br>금융 생활은 어떨까?</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="glass" src="/images/glass.png" alt="">
                        <h3>혼자 공부하면<br>꾸준히 하기 힘드니까</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid mb-3" id="continue" src="/images/continue.png" alt="">
                        <h3>순간이 아닌 지속적인<br>관심을 가져봐요</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center">
        <div class="container">
            <h1 class="mb-5 testimonials-title">제태크 성향 테스트</h1>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <div id="financial-status-test">
                            <div class="p-3">
                                <h2 class="text-white mb-5 mt-3">현재 제태크 상태 확인</h2>
                                <h1 class="text-white align-middle mb-5 status">STATUS</h1>
                            </div>
                            <div>
                                <button type="button" class="survey-button text-right text-white">지금 바로 점검하기>></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <div id="financial-knowledge-test">
                            <div class="p-3">
                                <h2 class="text-white mb-5 mt-3">금융, 경제 지식 테스트</h2>
                                <h1 class="text-white align-middle mb-5 idea">IDEA</h1>
                            </div>
                            <div>
                                <button type="button" class="survey-button text-right text-white">지금 바로 점검하기>></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 showcase-text">
                    <h2>Fully Responsive Design</h2>
                    <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
                </div>
            </div>
        </div>
    </section>

</div>
</html>
